<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/application.html}">

<head>
  <title>Show article</title>
</head>
<section layout:fragment="content">
  <!-- BEGIN -->
  <table class="table">
    <thead>
      <th>Title</th>
      <th>Body</th>
    </thead>
    <tbody>
    <tr th:object="${article}">
      <td th:text="*{title}"></td>
      <td>
        <a th:text="*{body}"></a>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- END -->
</section>
